<div class="current-count">Current count: @currentCount</div>

<button @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public int Increment { get; set; } = 1;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += Increment;
    }
}
