@page "/"
@using Chow.Shared
@inject HttpClient HttpClient

@if (status == OrderStatus.Loading)
{
  <div>Loading...</div>
}
else if (status == OrderStatus.ChooseDishes)
{
  <DishSelection Dishes="availableDishes" OnDishesSelected="@OnDishesSelected" />
}
else if (status == OrderStatus.OrderDetails)
{
  <OrderDetails Order="@order" OnOrderConfirmed="@OnOrderConfirmed" />
}
else if (status == OrderStatus.OrderConfirmed)
{
  <div class="order-confirmed">Your order is on its way, and should be with you in @confirmedOrder.ExpectedDeliveryMinutes minutes</div>
}

@code {
  private IEnumerable<Dish> availableDishes;
  private Order order = new Order();
  private OrderStatus status = OrderStatus.Loading;
  private ConfirmedOrder confirmedOrder = null;

  protected override async Task OnInitializedAsync()
  {
    availableDishes = await HttpClient.GetFromJsonAsync<IEnumerable<Dish>>("api/menu");
    status = OrderStatus.ChooseDishes;
  }

  private readonly ICollection<Dish> selectedDishes = new List<Dish>();

  private void OnDishesSelected(IEnumerable<Dish> dishes)
  {
    order.Dishes = dishes;
    status = OrderStatus.OrderDetails;
  }

  private void OnOrderConfirmed(ConfirmedOrder confirmedOrderResponse)
  {
    status = OrderStatus.OrderConfirmed;
    confirmedOrder = confirmedOrderResponse;
  }
}