@page "/"
@using Chow.Shared
@inject HttpClient HttpClient

@if (status == OrderStatus.Loading)
{
  <div>Loading...</div>
}

@code {
  private IEnumerable<Dish> availableDishes;
  private Order order = new Order();
  private OrderStatus status = OrderStatus.Loading;
  private readonly ICollection<Dish> selectedDishes = new List<Dish>();
}