/* Reset */
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
body,
pre {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

*,
*::before,
*::after {
    border-width: 0;
    border-style: solid;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}


button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}


body {
    background-color: #E2E8F0;
    color: #4A5568;
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-size: 60px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.body {
    flex: 1;
    justify-content: space-between;
}

button {
    background: #38B2AC;
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #2C7A7B;
}

button:disabled {
    background: grey;
    cursor: not-allowed;
}


.dish {
    border-radius: 10px;
    padding: 16px;
    background: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.dish-image {
    height: 140px;
    border-radius: 10px;
}

.dish-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    line-height: 1;
    margin: 0 40px;
}

.dish-name {
}

.dish-price {
    font-size: 50px;
    color: #718096;
}

.dish button {
    width: 140px;
    height: 140px;
}

.dish-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-order {
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

input {
    width: 600px;
    padding: 10px;
    line-height: 1;
    color: #4A5568;
    border-radius: 10px;
    border: 2px solid transparent;
}

input.invalid {
    border-color: #E53E3E;
}

input:focus {
    outline: none;
    border-color: #A0AEC0;
}

.validation-message {
    color: #E53E3E;
    margin-top: -50px;
    margin-bottom: 50px;
    font-size: 50px;
}

form button {
    margin-top: 50px;
}

.order-confirmed {
    text-align: center;
    width: 1000px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
